<!DOCTYPE html>
<html lang="en" ng-app="hosen" class="ng-scope">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Signin</title>
		
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Signin</title>
	
		<link href="assets/bundle.css" rel="stylesheet" type="text/css" />
   		<script src="assets/bundle.js"></script>
		   
		 <!--
		<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
		<script src="assets/angular-recaptcha.js"></script>
		 -->
		 
		<!--  <script type="text/javascript" src="bower_components/angular-re-captcha/angular-re-captcha.js"></script>	-->
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<!-- <script type="text/javascript" src="angular-recaptcha.js"></script> -->
		
		<script type="text/javascript">
			var setCaptchaSuccess = function(response) {
				document.getElementById("loginBtn").disabled = false;
	
			};
			var resetCaptcha = function(response) {
				document.getElementById("loginBtn").disabled = true;
			};
			var setCaptchaSuccess2 = function(response) {
				document.getElementById("registerBtn").disabled = false;
	
			};
			var resetCaptcha2 = function(response) {
				document.getElementById("registerBtn").disabled = true;
			};
		</script>
		

		<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
			.en-markup-crop-options {
				top: 18px !important;
				left: 50% !important;
				margin-left: -100px !important;
				width: 200px !important;
				border: 2px rgba(255,255,255,.38) solid !important;
				border-radius: 4px !important;
			}
			
			.en-markup-crop-options div div:first-of-type {
				margin-left: 0px !important;
			}
		</style>
	</head>
    
    <div navbar></div>
    
	<div class="intro-header">
        <div class="container">
            <div class="container">
                    <div align="center">
                        <font size="50"> <a ng-href="#/" ng-bind="signin.title"></a></font>
                    </div>
                    
                    <form name="signinForm" id= "signinForm" class="form-signin" role="form" ng-submit="logIn()" ng-show="signin.IsSignin">
                        <h2 class="form-signin-heading" >登入</h2>
                        
                        <label for="inputAccount">
                                帳號
                        </label> 
                        <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="account"> -->
                        <input type="text" name="account" id="account" class="form-control" placeholder="Account" ng-model="signin.account" required />
                        <label for="inputPassword">
                                密碼
                        </label> 
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="signin.password" required>
                        
                        <div ng-show="signin.error" class="alert alert-danger">{{signin.errorMsg}}</div>
                        
                        <div id="recaptcha1" class="g-recaptcha" data-sitekey="6Ld9yhMTAAAAANeyP2PcAFgPPgtRUhMbte8_vnOp" data-callback="setCaptchaSuccess" data-expired-callback="resetCaptcha"></div>
                        
                        <!-- <div class="form-actions">-->
                        <button id="loginBtn" class="btn btn-lg btn-primary btn-block" type="submit" disabled="true" >登入</button>
                        
                        <a href="" class="btn btn-link" ng-click="signin.IsSignin = false ; signin.error = false">註冊會員</a>
                    </form>
                    
                    
                    <!-- Begin | Register Form -->
                    <form name="registerForm" id= "registerForm" class="form-signin" role="form" ng-submit="register()" ng-hide="signin.IsSignin">
                        <h2 class="form-signin-heading" >註冊會員</h2>
                        
                        <label for="inputAccount">
                                帳號
                        </label> 
                        <input type="text" name="account" id="inputAccount" class="form-control" placeholder="account" required ng-model="signin.account" />
                        
                        <label for="inputPassword">
                                密碼
                        </label> 
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="signin.password">
                        
                        <label for="inputPassword2">
                                重新輸入密碼
                        </label> 
                        <input type="password" id="inputPassword2" class="form-control" placeholder="Retype Password" required ng-model="signin.password2">
                        
                        <label for="inputUsername">
                                姓名
                        </label> 
                        <input type="text" id="inputUsername" class="form-control" placeholder="User Name" required ng-model="signin.username" />
                        
                        <div ng-init="signin.gender = 'female'"> 
                            <input type="radio" ng-model="signin.gender" value="male" /> 先生
                            <input type="radio" ng-model="signin.gender" value="female" /> 女士
                        </div>
                        
                        <label for="inputPhone">
                                電話
                        </label> 
                        <input type="text" name="phone" id="inputPhone" class="form-control" placeholder="Mobile Number" required ng-model="signin.phone" />
                        
                        <label for="inputAddress">
                                地址
                        </label> 
                        <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Address" ng-model="signin.address" />
                        
                        <label for="inputEmail">
                                電子郵件
                        </label> 
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="signin.email">
                        
                        <label for="inputComment">
                                備註<p>
                        </label> 
                        
                        <textarea rows="4" cols="35" name="comment" form="registerForm" id="inputComment" > </textarea>
                        
                        <div ng-show="signin.error" class="alert alert-danger">{{signin.errorMsg}}</div>
                        
                        <div id="recaptcha2" class="g-recaptcha" data-theme="dark" data-sitekey="6Ld9yhMTAAAAANeyP2PcAFgPPgtRUhMbte8_vnOp" data-callback="setCaptchaSuccess2" data-expired-callback="resetCaptcha2" ></div>
                        
                        <button id="registerBtn" class="btn btn-lg btn-primary btn-block" type="submit">加入會員</button>
                        <a href="" class="btn btn-link" ng-click="signin.IsSignin = true ; signin.error = false">登入</a>
                            
                    </form>
                <!-- End | Register Form -->
            </div>
        </div>
    </div>
	
</html>
		