<!DOCTYPE html>
<html lang="en" ng-app="hosen" class="ng-scope">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Signin</title>
		
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Signin</title>
	
		<link href="assets/bundle.css" rel="stylesheet" type="text/css" />
   		<script src="assets/bundle.js"></script>
		   
		 <!--
		<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
		<script src="assets/angular-recaptcha.js"></script>
		 -->
		 
		<!--  <script type="text/javascript" src="bower_components/angular-re-captcha/angular-re-captcha.js"></script>	-->
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<!-- <script type="text/javascript" src="angular-recaptcha.js"></script> -->
		
		<script type="text/javascript">
			var setCaptchaSuccess = function(response) {
				document.getElementById("loginBtn").disabled = false;
	
			};
			var resetCaptcha = function(response) {
				document.getElementById("loginBtn").disabled = true;
			};
		</script>
		

		<style>/* Copyright 2014 Evernote Corporation. All rights reserved. */
            body {
                margin:0;
                padding:0;
                color: #f8f8f8;
                background: url(../assets/images/intro-bg.jpg) center center fixed no-repeat;
                -moz-background-size: cover;
                background-size: cover;
            }	
		</style>
	</head>
    
    <div navbar></div>
 
    <div class="container">
            <!--
            <div align="center">
                <font size="50"> <a ng-href="#/" ng-bind="signin.title"></a></font>
            </div>
            -->
            <br>
            <br>
            <br>
            <form name="signinForm" id= "signinForm" class="form-signin" role="form" ng-submit="logIn()">
                <h2 class="form-signin-heading" >登入</h2>
                
                <label for="inputAccount">
                        帳號
                </label> 
                <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="account"> -->
                <input type="text" name="account" id="account" class="form-control" placeholder="Account" ng-model="signin.account" required />
                <label for="inputPassword">
                        密碼
                </label> 
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="signin.password" required>
                
                <div ng-show="signin.error" class="alert alert-danger">{{signin.errorMsg}}</div>
                
                <div id="recaptcha1" class="g-recaptcha" data-sitekey="6Ld9yhMTAAAAANeyP2PcAFgPPgtRUhMbte8_vnOp" data-callback="setCaptchaSuccess" data-expired-callback="resetCaptcha"></div>
                
                <!-- <div class="form-actions">-->
                <button id="loginBtn" class="btn btn-lg btn-primary btn-block" type="submit" disabled="true" >登入</button>
                
                <!-- <a href="" class="btn btn-link" ng-click="signin.IsSignin = false ; signin.error = false">註冊會員</a> -->
            </form>
    </div>	
</html>
		