<!DOCTYPE html>
<html lang="en" ng-app="hosen" class="ng-scope">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Signin</title>
		
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Signin</title>
	
		<link href="assets/bundle.css" rel="stylesheet" type="text/css" />
   		<script src="assets/bundle.js"></script>
		   
		<script src='https://www.google.com/recaptcha/api.js'></script>
		
		<script type="text/javascript">
			
			var setCaptchaSuccess = function(response) {
				document.getElementById("registerBtn").disabled = false;
	
			};
			var resetCaptcha = function(response) {
				document.getElementById("registerBtn").disabled = true;
			};
		</script>
		

		<style>/* Copyright 2014 Evernote Corporation. All rights reserved. */
            body {
                margin:0;
                padding:0;
                color: #f8f8f8;
                background: url(../assets/images/intro-bg.jpg) center center fixed no-repeat;
                -moz-background-size: cover;
                background-size: cover;
            }	
		</style>
	</head>
    
    <div navbar></div>
   
    <div class="container">
            <br>
            <br>
            <br>

            <form name="registerForm" id= "registerForm" class="form-signin" role="form" ng-submit="registerMember()" autocomplete="off" >
                <h2 class="form-signin-heading" >註冊會員</h2>
                
                <label for="inputUsername">
                        登入帳號
                </label> 
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="account" required ng-model="register.registerInfo.username" />
                
                <label for="inputPassword">
                        密碼
                </label> 
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="register.registerInfo.password">
                
                <label for="inputPassword2">
                        重新輸入密碼
                </label> 
                <input type="password" id="inputPassword2" class="form-control" placeholder="Retype Password" required ng-model="register.registerInfo.password2">
                
                <label for="inputRealname">
                        真實姓名
                </label> 
                <input type="text" id="inputRealname" class="form-control" placeholder="Real Name" required ng-model="register.registerInfo.realname" />
                
                <div ng-init="register.registerInfo.gender = 'female'"> 
                    <input type="radio" ng-model="register.registerInfo.gender" value="male" /> 先生
                    <input type="radio" ng-model="register.registerInfo.gender" value="female" /> 女士
                </div>
                
                <label for="inputMobile">
                        電話
                </label> 
                <input type="text" name="mobile" id="inputMobile" class="form-control" placeholder="Mobile Number" required ng-model="register.registerInfo.mobile" />
                
                <label for="inputAddress">
                        地址
                </label> 
                <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Address" ng-model="register.registerInfo.address" />
                
                <label for="inputEmail">
                        電子郵件
                </label> 
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="register.registerInfo.email">
                
                <label for="inputNote">
                        備註<p>
                </label> 
                
                <textarea class="form-control" rows="4" cols="35" name="inputNote" id="inputNote" ng-model="register.registerInfo.note" novalidate> </textarea>
                
                <div ng-show="register.error" class="alert alert-danger">{{register.errorMsg}}</div>
                
                <div id="recaptcha2" class="g-recaptcha" data-theme="dark" data-sitekey="6Ld9yhMTAAAAANeyP2PcAFgPPgtRUhMbte8_vnOp" data-callback="setCaptchaSuccess" data-expired-callback="resetCaptcha" ></div>
                
                <button id="registerBtn" class="btn btn-lg btn-primary btn-block" type="submit" disabled="true">加入會員</button>
    
            </form>
    </div>
</html>
		