<div class="navbar-wrapper" id="Top">
		 <div class="container "> 
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="width: 100%; margin: 0 auto">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
							<span class="sr-only">Toggle navigation</span> 
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span> 
						</button> 
						<a class="navbar-brand" ng-href="#/" ng-bind="navbar.title" ></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<!-- <li><a href="" ng-click="gotoPrice()" ng-bind="main.priceAndServiceTitle" ng-show="main.IsLogin"></a></li> -->
							<!-- <li><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Open Login Modal</a> 		
							<li><a href="" ng-click="gotoNews()" ng-bind="main.newsTitle"></a></li>			
							<li><a href="" ng-click="gotoContactUS()" ng-bind="main.contactUS"></a></li>
							<li><a href="" ng-click="gotoLocation()" ng-bind="main.locationTitle"></a></li>	 -->	
							<!-- <li><a href="https://www.facebook.com/pages/%E5%AE%8F%E6%98%87%E7%9B%B2%E4%BA%BA%E6%8C%89%E6%91%A9/477649398913384" target="_blank" ng-bind="main.contactUS"></a></li> -->							
							<!--<li><a href="#/register"><span class="glyphicon glyphicon-user" ng-bind="main.register" ng-hide="main.isSignIn"></span></a></li>-->
							<li><a ng-href="#/peripheral" ng-bind="navbar.peripheral"></a></li>				
							<li><a href="" ng-click="gotoGroupBuying()" ng-bind="navbar.groupBuying"></a></li>	
							<li><a href=""><span class="glyphicon glyphicon-log-in" ng-bind="navbar.signIn" ng-click="signInOut()"></span></a></li>				
							<!-- <li><a href="#" data-toggle="modal" data-target="#login-modal" ng-click="setModalForm('IsLogin')"><span class="glyphicon glyphicon-log-in" ng-bind="main.signIn"></span></a></li> -->
						</ul>	
						<!--	
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						</ul>
						-->		
					</div>
				</div>
			</nav>
		 </div> 
	</div> 